.example {
    margin: 24px 0;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 6px;
    height: 600px;
    background: #fafbfc;
    
    >.code {
        flex: auto;
        width: 0;
        display: flex;
        flex-direction: column;

        >header {
            padding: 8px 12px;
            border-bottom: 1px solid #ddd;
            text-align: right;
        }

        .code-pre {
            flex: auto;
            margin-bottom: 0;
            // overflow: auto;
            background: #fff;
            padding: 0 12px;
            font-size: 13px;
            :not(pre)>code[class*=language-],
            pre[class*=language-] {
                background: none;
            }
        }
    }
    @media screen and (max-width:680px) {
        .code{
            display: none;
        }
    }
    .mobile {
        width: 340px;
        overflow-y: auto;
    }
    iframe {
        width: 340px;
        height: 100%;
    }
}