.table {
    width: 100%;
    border: 1px solid #ddd;
    border-bottom: 0;
    border-spacing: 0;
    border-radius: 8px;
    thead {
        background: #f5f7fa;
        width: 100%;
        th {
            padding: 12px 0;
            font-size: 15px;
            font-weight: 600;
            color: #666;
            border-bottom: 1px solid #ddd;
            border-right: 1px solid #ddd;
            &:last-child {
                border-right: 0;
            }
        }
       
    }
    tbody {
        tr {
            td {
                padding:  12px;
                border-right: 1px solid #ddd;
                font-size: 13px;
                border-bottom: 1px solid #ddd;

                &:last-child {
                    border-right: 0;
                }
            }
        }
    }
}